/* Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background-color: #0D0B11;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Contenido - Caja Principal */
.main-container {
  height: 100vh;
  margin: 0px;
}

.main-container :first-child {
	margin-top: 96px;
}

/* Contendores de tab bar y acceso mediante redes sociales */
.tab-container-top {
  top: 0px;
  position: fixed;
  width: 100%;
	background-image: linear-gradient(-1deg, rgba(23,21,27,0.00) 0%, rgba(23,21,27,0.48) 15%, #15141A 64%);
  overflow: hidden;
}

.tab-left {
  float: left;
  width: calc(50% - 10px);
	display: flex;
	justify-content: left;
	align-items: center;
}

.tab-right {
  float: right;
  width: calc(50% - 10px);
	display: flex;
	justify-content: right;
	align-items: center;
}

.piece-name-top {
  font-size: 12px;
	font-family: 'Varela Round', sans-serif;
	letter-spacing: 2px;
	color: white;
	margin: 32px;
}

.vehicle-name-top {
  font-size: 12px;
	font-family: 'Varela Round', sans-serif;
	letter-spacing: 2px;
	color: #868588;
}

.results-number {
	height: 24px;
	font-size: 12px;
	font-family: 'Varela Round', sans-serif;
	letter-spacing: 2px;
	color: #868588;
	text-align: center;
	background-color: #0C0C0F;
}
