/* Reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.card {
  width: 296px;
  height: 368px;
  border-radius: 8px;
  background-color: #222027;
}

.price-actions {
  padding: 20px 24px;
  overflow: hidden;
}

.card-price {
  display: inline;
  font-size: 34px;
  font-family: 'Varela Round', sans-serif;
  letter-spacing: 2px;
  color: white;
}

.euro {
  display: inline;
  font-size: 16px;
  font-family: 'Varela Round', sans-serif;
  color: #868588;
}

.actions {
  display: inline;
  width: 24px;
  height: 24px;
  float: right;
  margin: 4px 0px 4px 24px;
}

.card-img {
  width: 100%;
  height: 222px;
  border-radius: 8px 8px 0px 0px;
  top: 0px;
  background-color: black;
}

.card-title {
  font-size: 16px;
  font-family: 'Varela Round', sans-serif;
  letter-spacing: 2px;
  color: white;
  margin: auto 24px;
}

.distance {
  display: inline-block;
  font-size: 12px;
  font-family: 'Varela Round', sans-serif;
  letter-spacing: 2px;
  color: white;
  margin: 12px 8px auto 24px;
}

.city {
  color: #868588;
  margin-left: 0px;
}

.alex{
	display: none;
}
